# DML Script for Inserting the Data

### **Step 1: Overview of the DML Script**

The DML script populates the tables in the Fitness\_FInal\_Presentation database by inserting data into the dimension (dim) and fact (f) tables. This is done by selecting data from the source tables (dbo.\*), ensuring data integrity and alignment with the new schema.

**Step 2: Insert Data into dim.DayType  
**This step copies distinct `DayType_ID` and `DayType` values from `dbo.Dim_DayType` into `dim.DayType`.

In [ ]:
INSERT INTO dim.DayType (DayType_ID, DayType)
SELECT DISTINCT 
    DayType_ID, 
    DayType
FROM dbo.Dim_DayType;

**Step 3: Insert Data into `dim.Activity  
`**

This step transfers distinct `Activity_ID` and `Activity` values from `dbo.Dim_Activity` to `dim.Activity`.

In [ ]:
INSERT INTO dim.Activity (Activity_ID, Activity)
SELECT DISTINCT 
    Activity_ID, 
    Activity
FROM dbo.Dim_Activity;

### **Step 4: Insert Data into `dim.SleepQuality`**

```
sqlCopy codeINSERT INTO dim.SleepQuality (SleepQuality, SleepID)
SELECT DISTINCT 
    SleepQuality, 
    SleepID
FROM dbo.Dim_SleepQuality;

```

This step inserts distinct `SleepQuality` and `SleepID` values from `dbo.Dim_SleepQuality` into `dim.SleepQuality`.

### **Step 5: Insert Data into** f.Steps 

### This step populates the f.Steps  fact table with sleep-related metrics by joining data from dbo.Sleep, dim.DayType, and dim.SleepQuality. 

```
sqlCopy codeINSERT INTO f.Sleep (SleepID, Full_date, DeepSleepTime, ShallowSleepTime, WakeTime, 
                     MonthName, Year, SleepQuality, DayName, DayType_ID)
SELECT DISTINCT
    s.SleepID, 
    s.Full_date, 
    s.deepSleepTime, 
    s.shallowSleepTime, 
    s.wakeTime, 
    s.[Month Name], 
    s.Year, 
    s.SleepQuality, 
    s.[Day Name],
    s.DayType_ID
FROM dbo.Sleep s
JOIN dim.DayType dt
    ON s.DayType = dt.DayType
JOIN dim.SleepQuality sq
    ON s.SleepID = sq.SleepID;

```

### **Step 6: Insert Data into f.Steps**

### This step fills the f.Steps <span style="font-size: 14px;">&nbsp;fact table with metrics like&nbsp;</span>  Steps,Distance<span style="font-size: 14px;">, and Calories</span><span style="font-size: 14px;">, using data from dbo.Steps and dim.Activity</span><span style="font-size: 14px;">.</span>

```
sqlCopy codeINSERT INTO f.Steps (Activity_ID, Full_date, Day_Name, Steps, Distance, RunDistance, Calories, Year, 
                     MonthName, Day_Type, Full_date_Year, Full_date_Quarter, Full_date_Month)
SELECT DISTINCT
    a.Activity_ID, 
    s.Full_date, 
    s.Day_Name, 
    s.steps, 
    s.distance, 
    s.runDistance, 
    s.calories, 
    s.Year, 
    s.[Month Name], 
    s.DayType, 
    [Full_date (Year)] AS Full_date_Year, 
    [Full_date (Quarter)] AS Full_date_Quarter,
    [Full_date (Month)] AS Full_date_Month
FROM dbo.Steps s
JOIN dim.Activity a
    ON s.Activity_ID = a.Activity_ID;

```

### Here Our DML file is ready, Now we can play with our data.

### Thankyou For reading.